  #triangle {
    width: 0;
    height: 0; 
    border-bottom: 100px solid gray;
    border-right: 130px solid transparent;
    margin-bottom: 40px;
    margin-top:20px;
  }

  .h_indent{
    position: absolute;
    left: -40px;
    top: 55px;
    width: 50px;
    text-align: center;   
  }

  .w_indent{
    position: absolute;
    left: 50px;
    top: 125px;
    width: 50px;
    text-align: center;
   }

   .hy_indent{
    position: absolute;
    top: 40px; 
    left: 95px;
    color: green;
    font-size: larger;
  }

  .noshow{
    position: absolute;
    top: 40px; 
    left: 100px;
  }
