  #triangle {
    width: 0;
    height: 0; 
    border-bottom: 100px solid gray;
    border-right: 130px solid transparent;
    margin-bottom: 40px;
    margin-top:20px;
  }

  .h_indent{
    margin-left: -60px; 
    padding-bottom: 10px;
    width: 50px;
    line-height:15px;  
    text-align: center;   
  }

  .w_indent{
    margin-left: 50px; 
    margin-top: 15px;
    width: 40px;
    text-align: center;
   }
 
   .hy_indent{
    margin-left: 60px;
    width: 40px;
    padding-top: 15px; 
    color: green;
    font-size: larger;
  }

  .noshow{
    margin-left: 70px;
    width: 40px;
    padding-top: 15px; 
  }
