<div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"><app-header></app-header></div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 padcolor"><br><br></div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-1 padcolor"></div>
      <div class="col-2"></div>
      <div class="col-3"><app-workarea></app-workarea></div>
      <div class="col-1"></div>
      <div class="col-1 padcolor"></div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 padcolor"><br><br></div>
      <div class="col-2"></div>
    </div>

</div>